/** @format */

table {
  margin: 0 !important;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #f56c6c;
}
.border{
  border: 2px solid #003d99;
  padding: 4px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w-full{
  width: 100%;
}
.m-20{
  margin: 20px;
}
.text-right{
  text-align: right;
}