// ripped CSS4 vars out of color map
$--border-radius-base: 4px; // 边框圆角基础值
$--background-color-base: #f5f7fa; // 背景基础颜色值

$--color-default: var(--color-default); // 主题默认色
$--color-primary: var(--color-primary); // 主题色
$--color-success: var(--color-success); // 主题成功色
$--color-info: var(--color-info); // 主题信息色
$--color-warning: var(--color-warning); // 主题警告色
$--color-danger: var(--color-danger); // 主题错误色

$--color-text-primary: var(--color-text-primary); // 默认主题文本颜色
$--color-text-regular: var(--color-text-regular); //
$--color-text-secondary: var(--color-text-secondary);
$--color-text-placeholder: var(--color-text-placeholder); // 输入框内提示文本颜色
$--color-white: var(--color-default);
/*
 * 边框颜色不同亮度
 */
$--border-color-base: var(--color-border-base); //
$--border-color-light: var(--color-border-light);
$--border-color-lighter: var(--color-border-lighter);
$--border-color-extra-light: var(--color-border-extra-light);// 边框样式
$borderBase: 1px solid var(--color-border-base);
$borderLight: 1px solid var(--color-border-light);
$borderLighter: 1px solid var(--color-border-lighter);
$borderExtraLight: 1px solid var(--color-border-extra-light);

$--color-default-50: rgba(255, 255, 255, 0.5);
$--color-primary-50: var(--color-primary-50);
$--color-success-50: var(--color-success-50);
$--color-info-50: var(--color-info-50);
$--color-warning-50: var(--color-warning-50);
$--color-danger-50: var(--color-danger-50);

$--color-default-20: rgba(255, 255, 255, 0.2);
$--color-primary-20: var(--color-primary-20);
$--color-success-20: var(--color-success-20);
$--color-info-20: var(--color-info-20);
$--color-warning-20: var(--color-warning-20);
$--color-danger-20: var(--color-danger-20);

$--color-default-10: rgba(255, 255, 255, 0.1);
$--color-primary-10: var(--color-primary-10);
$--color-success-10: var(--color-success-10);
$--color-info-10: var(--color-info-10);
$--color-warning-10: var(--color-warning-10);
$--color-danger-10: var(--color-danger-10);

$--color-default-5: rgba(255, 255, 255, 0.05);
$--color-primary-5: var(--color-primary-5);
$--color-success-5: var(--color-success-5);
$--color-info-5: var(--color-info-5);
$--color-warning-5: var(--color-warning-5);
$--color-danger-5: var(--color-danger-5);

$bgList: (
	(
		name: default,
		value: $--color-default
	),
	(
		name: default-50,
		value: $--color-default-50
	),
	(
		name: default-10,
		value: $--color-default-10
	),
	(
		name: default-5,
		value: $--color-default-5
	),
	(
		name: primary,
		value: $--color-primary
	),
	(
		name: primary-50,
		value: $--color-primary-50
	),
	(
		name: primary-10,
		value: $--color-primary-10
	),
	(
		name: primary-5,
		value: $--color-primary-5
	),
	(
		name: success,
		value: $--color-success
	),
	(
		name: success-50,
		value: $--color-success-50
	),
	(
		name: success-10,
		value: $--color-success-10
	),
	(
		name: success-5,
		value: $--color-success-5
	),
	(
		name: info,
		value: $--color-info
	),
	(
		name: info-50,
		value: $--color-info-50
	),
	(
		name: info-10,
		value: $--color-info-10
	),
	(
		name: info-5,
		value: $--color-info-5
	),
	(
		name: warning,
		value: $--color-warning
	),
	(
		name: warning-50,
		value: $--color-warning-50
	),
	(
		name: warning-10,
		value: $--color-warning-10
	),
	(
		name: warning-5,
		value: $--color-warning-5
	),
	(
		name: danger,
		value: $--color-danger
	),
	(
		name: danger-50,
		value: $--color-danger-50
	),
	(
		name: danger-10,
		value: $--color-danger-10
	),
	(
		name: danger-5,
		value: $--color-danger-5
	)
);

$borderList: (
	(
		name: '',
		value: $borderBase
	),
	(
		name: -light,
		value: $borderLight
	),
	(
		name: -lighter,
		value: $borderLighter
	),
	(
		name: -extra-light,
		value: $borderExtraLight
	)
);
$borderDirections: (left, right, bottom, top);
$cursorList: (pointer, move, wait, not-allowed);
$displayList: (none, table, table-cell, block, inline, inline-block, inherit, flex);
$floatList: (none, left, right);
$textColor: (
	(
		name: 'white',
		value: $--color-default
	),
	(
		name: primary,
		value: $--color-primary
	),
	(
		name: success,
		value: $--color-success
	),
	(
		name: info,
		value: $--color-info
	),
	(
		name: warning,
		value: $--color-warning
	),
	(
		name: danger,
		value: $--color-danger
	),
	(
		name: text-primary,
		value: $--color-text-primary
	),
	(
		name: text-regular,
		value: $--color-text-regular
	),
	(
		name: text-secondary,
		value: $--color-text-secondary
	),
	(
		name: text-placeholder,
		value: $--color-text-placeholder
	)
);
$positionList: (relative, fixed, absolute);